.stats{overflow:hidden;}
.stats li{float:left;margin-left:10px;}
.stats li:first-child{margin-left:0px;}
.stat{text-align:center;display:block;padding:10px 20px;}
.stat .stat-name{color:#000;display:block;}
.stat .stat-value{color:#000;font-size:36px;}

.badge.badge-open{background-color:rgb(230, 147, 57);}
.badge.badge-pending{background-color:#3a87ad;}
.badge.badge-resolved{background-color:#468847;}